body {
    margin: 0;
    font-family: 'Segoe UI';
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.6);
    padding: 15px;
    text-align: center;
}

nav a {
    color: #00f5ff;
    margin: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.glow {
    font-size: 50px;
    text-shadow: 0 0 20px #00f5ff;
}

/* TYPING */
.typing {
    border-right: 3px solid #00f5ff;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(30), blink 0.5s infinite;
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}

@keyframes blink {
    50% {border-color: transparent}
}

/* SECTION */
section {
    padding: 100px 20px;
    text-align: center;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 0 20px #00f5ff;
}

/* FORM */
input, textarea {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #00f5ff;
    border: none;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: black;
    padding: 20px;
    margin-top: 50px;
}

/* SUCCESS PAGE */
.success-page {
    text-align: center;
    padding-top: 150px;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #00f5ff; }
    to { text-shadow: 0 0 40px #00f5ff; }
}

/* TABLE */
table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 10px;
}