body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

/* TEXT */
.hero-text h2 {
    font-size: 40px;
}

.hero-text span {
    color: #00f5ff;
}

/* HEXAGON IMAGE */
.hero-img img {
    width: 250px;
    clip-path: polygon(
        25% 5%, 75% 5%, 
        100% 50%, 
        75% 95%, 
        25% 95%, 
        0% 50%
    );
    border: 3px solid #00f5ff;
    box-shadow: 0 0 25px #00f5ff;
}

/* SECTION */
.section {
    padding: 50px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #00f5ff;
}

/* CERTIFICATE IMAGES */
.cards img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #00f5ff;
}

/* FORM */
input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #00f5ff;
    border: none;
    color: black;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
.pdf-btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: #00f5ff;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.pdf-btn:hover {
    box-shadow: 0 0 15px #00f5ff;
}
footer {
    text-align: center;      /* centers everything */
    padding: 30px;
    background: #020617;
}

footer p {
    margin: 5px;
}

footer a {
    color: #00f5ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;      /* centers everything */
    padding: 30px;
    background: #020617;
}

footer p {
    margin: 5px;
}

footer a {
    color: #00f5ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}