<!DOCTYPE html>
<html>
<head>
    <title>Admin - Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<section>

    <h2>📩 All Messages</h2>

    <table border="1" cellpadding="10" cellspacing="0" style="margin:auto; background:black; color:white;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>

        {% for msg in data %}
        <tr>
            <td>{{ msg[0] }}</td>
            <td>{{ msg[1] }}</td>
            <td>{{ msg[2] }}</td>
            <td>{{ msg[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><br>

    <a href="/" class="btn">Go Back</a>

</section>

</body>
</html>